# From [https://authjs.dev/reference/sveltekit#usage]:
# > This should be a minimum of 32 characters, random string.
# > On UNIX systems you can use `openssl rand -hex 32` or check out [https://generate-secret.vercel.app/32].
# The `AUTH_SECRET` variable is used for JWT as the encryption key.
AUTH_SECRET=

# If server doesn't run on Vercel, `AUTH_TRUST_HOST` needs to be true.
# Enable this when running locally
AUTH_TRUST_HOST=1

# Github oauth app secrets.
# Follow [https://authjs.dev/getting-started/oauth-tutorial#2-configuring-oauth-provider]
# for info on how to register one.
GITHUB_ID=
GITHUB_SECRET=

# Signed-in emails that are considered admins, separated by comma.
# Admin users can create, edit, and delete posts.
ADMINS=a@example.com,b@example.com

# Production server settings
# [https://kit.svelte.dev/docs/adapter-node#environment-variables] for more information.
HOST=0.0.0.0
PORT=3000
ORIGIN=http://localhost:3000
