@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* NOTE: bad practice */
@utility btn-accent {
  @apply rounded p-2 transition-[border-color,shadow];
  @apply border-accent/80 text-accent border;
  @apply hover:border-accent hover:shadow-glow hover:shadow-accent/40 active:shadow-accent/60;
}

@utility btn-text {
  @apply rounded p-2 transition-[border-color,shadow];
  @apply border-text/80 text-text border;
  @apply hover:border-text hover:shadow-glow hover:shadow-text/40 active:shadow-text/60;
}

@utility icon-flex {
  @apply flex items-center gap-2;
}

@layer utilities {
}

@layer base {
  :root {
    --text: 25 23 36; /* #191724 */
    --background: 252 252 252; /* #fcfcfc */
    --primary: 180 138 232; /* #b48ae8 */
    --secondary: 235 234 245; /* #ebeaf5 */
    --accent: 49 116 143; /* #31748f */
    --success: 246 193 119; /* #f6c177 */
    --warning: 235 188 186; /* #ebbcba */
    --error: 235 111 146; /* #eb6f92 */
  }
  .dark {
    --text: 224 222 244; /* #e0def4 */
    --background: 12 11 17; /* #0c0b11 */
    --primary: 196 167 231; /* #c4a7e7 */
    --secondary: 38 35 58; /* #26233a */
    --accent: 156 207 216; /* #9ccfd8 */
    --success: 256 193 119; /* #f6c177 */
    --warning: 236 188 186; /* #ebbcba */
    --error: 236 111 146; /* #eb6f92 */
  }
}

:root {
  @apply bg-background text-text scroll-pt-20 overflow-auto motion-safe:scroll-smooth;
}

::selection {
  @apply bg-primary/60;
}

@theme {
  --radius-*: initial;
  --radius-none: 0;
  --radius-sm: 0.5rem;
  --radius: 1rem;
  --radius-lg: 2rem;
  --radius-full: 9999px;

  --color-*: initial;
  --color-text: rgb(var(--text));
  --color-background: rgb(var(--background));
  --color-primary: rgb(var(--primary));
  --color-secondary: rgb(var(--secondary));
  --color-accent: rgb(var(--accent));
  --color-success: rgb(var(--success));
  --color-warning: rgb(var(--warning));
  --color-error: rgb(var(--error));
  --color-transparent: transparent;
  --color-inherit: inherit;

  --text-sm: 0.75rem;
  --text-base: 1rem;
  --text-lg: 1.25rem;
  --text-xl: 1.5rem;
  --text-2xl: 2rem;
  --text-3xl: 3rem;
  --text-4xl: 4rem;

  --shadow-glow: 0 0 16px rgba(0, 0, 0, 0.25);
  --shadow-glow-sm: 0 0 8px rgba(0, 0, 0, 0.25);

  --z-top: 9999;

  /* NOTE: moved Noto Color Emoji before Segoe. personal preference :) */
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Noto Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

/* markdown content styles */

.prose {
  --tw-prose-body: rgb(var(--text));
  --tw-prose-headings: rgb(var(--text));
  --tw-prose-lead: rgb(var(--text));
  --tw-prose-links: rgb(var(--accent));
  --tw-prose-bold: rgb(var(--text));
  --tw-prose-counters: rgb(var(--primary));
  --tw-prose-bullets: rgb(var(--primary));
  --tw-prose-hr: rgb(var(--text) / 50%);
  --tw-prose-quotes: rgb(var(--text));
  --tw-prose-quote-borders: rgb(var(--primary) / 50%);
  --tw-prose-captions: rgb(var(--text) / 80%);
  --tw-prose-kbd: rgb(var(--text));
  --tw-prose-code: rgb(var(--text));
  --tw-prose-pre-code: rgb(var(--text));
  --tw-prose-pre-bg: rgb(var(--secondary));
  --tw-prose-kbd-shadows: var(--text);
  --tw-prose-th-borders: rgb(var(--text) / 50%);
  --tw-prose-td-borders: rgb(var(--text) / 50%);

  @apply prose-blockquote:text-xl prose-pre:my-0;
}

.prose input[type="checkbox"] {
  @apply border-text/60 checked:bg-primary focus:ring-accent/60 rounded bg-transparent;
}

.prose ul.contains-task-list {
  @apply list-none pl-0;
}

.prose li.task-list-item input {
  @apply mr-2;
}

.prose :not(pre) > code {
  @apply bg-secondary/40;
}

.prose code > span.line.highlighted {
  @apply bg-primary/20 -mx-4 inline-block w-[calc(100%+2rem)] px-4;
}

.prose code > span.line.diff.remove {
  @apply bg-error/20 -mx-4 inline-block w-[calc(100%+2rem)] px-4;
  @apply after:text-error after:absolute after:left-1 after:content-['-'];
}
.prose code > span.line.diff.add {
  @apply bg-success/20 -mx-4 inline-block w-[calc(100%+2rem)] px-4;
  @apply after:text-success after:absolute after:left-1 after:content-['+'];
}

.prose span.spoiler {
  @apply blur-xs transition-['filter'] hover:blur-none;
}

/* styles for external links */
.prose a[href^="http://"]:not([href^="http://www.tnfshcec.com"])::after,
.prose a[href^="https://"]:not([href^="https://www.tnfshcec.com"])::after,
.prose a[href^="//"]:not([href^="//www.tnfshcec.com"])::after
{
  content: "";
  position: relative;
  display: inline-block;
  margin: 0 0.2em;
  top: 0.1em;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path d="M14 3v2h3.59l-9.83 9.83l1.41 1.41L19 6.41V10h2V3m-2 16H5V5h7V3H5c-1.11 0-2 .89-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7h-2v7Z"/></svg>');
  mask-size: contain;
}

/* codeblock numbers */

.prose .numbers code {
  counter-reset: step;
  counter-increment: step 0;
}

.prose .numbers code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 0.75rem;
  display: inline-block;
  text-align: right;
}
