/* Write your global styles here, in PostCSS syntax */
html,
body {
  @apply h-full overflow-hidden;
}

.prose {
  @apply prose-headings:font-normal prose-h2:!h2 prose-h3:!h3 prose-h4:!h4 prose-h5:!h5 prose-h6:!h6;
  @apply prose-a:anchor prose-blockquote:blockquote;
  @apply prose-table:table prose-table:table-hover;
}

.prose :not(pre) > code {
  @apply code;
}

/* vim: set ft=css: */
